<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <main class="container min-vh-100">


            <div class="row mt-md-5 mt-4 mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <h1 class="">
                        <%= event.name %>
                    </h1>

                    <p class="ms-md-2"><i class="fas fa-calendar-alt me-2"></i>
                        <%= event.date.toString().split(" ", 4).join(" ") %>
                            <i class=" ms-3 me-2 far fa-clock"></i>
                            <%= event.startTime %> - <%= event.endTime %>
                    </p>
                    <p class="ms-md-2"><i class="fas fa-user-friends"></i>
                        <%= event.registeredUsers.length %> registered
                    </p>
                    <h2 class="h3">Event details</h2>
                    <p class="lead">
                        <%= event.details %>
                    </p>

                    <form class="d-inline-block" action="/events/<%= event._id %>" method="POST">
                        <button class="btn btn-success mt-auto">Register</button>
                    </form>
                    <!-- <a href="#" class="btn btn-outline-success">Save for later</a> -->
                </div>
                <div class="col-lg-6">
                    <div id='map' style='width: 100%; height: 75vh;'></div>
                </div>
            </div>

        </main>




        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scriptTags.ejs') %>
                <% var lng=event.location.coordinates[0]; %>
                    <% var lat=event.location.coordinates[1]; %>
                        <script>
                            var Lng = <%= lng %>;
                            var Lat = <%= lat %>;
                            mapboxgl.accessToken = 'pk.eyJ1IjoianVuZW9oNzEwIiwiYSI6ImNrcm05dzd2YzdyZWQydm1ueXEzZmFkY2kifQ.AvI0q6S-AIRJgbIOz7ZBHg';
                            const map = new mapboxgl.Map({
                                container: 'map', // container ID
                                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                                center: [Lng, Lat], // starting position [lng, lat]
                                zoom: 15 // starting zoom
                            });
                            const marker = new mapboxgl.Marker()
                                .setLngLat([Lng, Lat])
                                .addTo(map);
                            map.scrollZoom.disable()
                            map.addControl(new mapboxgl.NavigationControl())

                        </script>
</body>

</html>