<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body class="container-lg px-4">

    <%- include('./partials/flash.ejs') %>

        <%- include('./partials/org-navbar.ejs') %>

            <div class="d-flex flex-column align-items-center justify-content-center mt-5 mp-5">

                <h1 class="h3 mb-5">Welcome to Kindness Club!</h1>
                <img src="/images/desk.svg" alt="" width="30%" height="30%">


                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <% if (!currentUser) { %>
                        <a href="/org/register" class="btn btn-outline-success mb-2">Register organization
                            account</a>
                        <a href="/org/login" class="btn btn-outline-success">Login to account</a>
                        <% } else { %>
                            <a href="/org/<%= currentUser._id %>/add" class="btn btn-outline-success mb-2">Add an event
                                by <%= currentUser.name %>
                            </a>
                            <a href="/org/<%= currentUser._id %>/events" class="btn btn-outline-success">View events
                                added by <%= currentUser.name %> </a>
                            <% } %>
                </div>
            </div>




            <%- include('./partials/scriptTags.ejs') %>
                <script>
                    const alertList = document.querySelectorAll('.alert')
                    alertList.forEach(function (alert) {
                        new bootstrap.Alert(alert)
                    })
                </script>
</body>

</html>